
<body>
  <div>
    <div class="header">
      <h1>Pizza Place</h1>
    </div>

    <div class="cartTotal ">
      {{!-- <strong>Total price</strong> --}}
      {{!-- <span class="cartTotalPrice">0.00</span> --}}
      <a href="#">
        <img src="shopping-cart.png" alt="">
      </a>
    </div>


    <div class="cart">
      <h3>Shopping Cart</h3>
      <img src="shopping-cart.png" alt="">
      <strong>Small pizzas total:</strong>
      {{!-- <strong>Small pizzas quantity:</strong>
      <span class="smallTotalPrice"> {{qtyS}}</span> --}}
      <span class="smallTotalPrice"> {{totalS}}</span>
      <button type="submit">+</button>
      <form action="/subract" method="GET">
       <button type="submit" name="small" value="small">-</button>
      </form> 
      <br>
      <strong>Medium pizzas total:</strong>
       {{!-- <strong>Small pizzas quantity:</strong>
      <span class="smallTotalPrice"> {{qtyM}}</span> --}}
      <span class="mediumTotalPrice">{{totalM}}</span>
       <button>+</button> <button>-</button>
      <br>
      <strong>Large pizza total:</strong>
       {{!-- <strong>Small pizzas quantity:</strong>
      <span class="smallTotalPrice"> {{qtyL}}</span> --}}
      <span class="largeTotalPrice">{{totalL}}</span>
       <button name=>+</button> <button name= "" value="">-</button>
      <br>
      <strong>Total price</strong>
      <span class="totalPrice">{{grandT}}</span>
      <br>
      <br>
    </div>
    <form action="/order">
     <button class="orderbtn" type="submit">Order</button>
    </form>

    <div class="pizzas">
      <form action="/small" method="POST">
        <div class="pizza small">
          <div class="info">
            <img src="pizza.png" alt="">
            <h2>Small Pizza</h2>
             <strong>Price:R31.99</strong>

          </div>
          <div class="orderBox">
            <button class="btn orderSmallPizza" value="small" name="small" type="submit" style="margin-left: auto">Order small
              pizza</button>
          </div>
        </div>
      </form>
      <form action="/medium" method="POST">
        <div class="pizza medium">
          <div class="info">
            <img src="pizza.png" alt="">
            <h2>Medium Pizza</h2>
            <strong>Price:R76.99</strong>

          </div>

          <div class="orderBox">
            <button class="btn orderMediumPizza"  value="medium" name="medium" type="submit" style="margin-left: auto">Order medium
              pizza</button>
          </div>

        </div>
      </form>
      <form action="/large" method="POST">
        <div class="pizza large">
          <div class="info">
            <img src="pizza.png" alt="">
            <h2>Large Pizza</h2>
            <strong>Price:98.99</strong>
          </div>
          <div class="orderBox">
            <button class="btn orderLargePizza" value="large" name ="large" type="submit" style="margin-left: auto">Order large
              pizza</button>
          </div>
        </div>
      </form>

    </div>

  </div>
</body>
<div>

